
.container{
margin-top:70px;
}

.btn-primary{
width:21%;
text-align:center;
margin:20px;
padding:100px;
}

.alert-info{
text-align:center;
background-color:#007fff;


li {
text-decoration:none;
list-style-type:none;
}


#linkseFeedback{

width:49%;
}

#rechtFeedback{
width:49%;

}
