

.btn-primary{
width:21%;
text-align:center;
margin:20px;
padding:100px;
}

.alert-info{
text-align:center;
background-color:#007fff;
}

li {
text-decoration:none;
list-style-type:none;
}
.container {
    margin-top:100px;
}

.long-art{
  background: url("images/NursingHeader4.jpg") no-repeat;
    height:200px;
      background-size: 1100px auto;

}

