

.btn-primary{
width:21%;
text-align:center;
margin:20px;
padding:100px;
}

.alert-info{
text-align:center;
background-color:#007fff;


li {
text-decoration:none;
list-style-type:none;
}
.container {
    margin-top:50px;
}

body{
    background-color:black;
}
